<!DOCTYPE html>
<html>
	{{- partial "head.html" . -}}
	<body>
		{{- partial "header.html" . -}}
		<div id="content">
		{{- block "main" . }}{{- end }}
		</div>
		{{- partial "footer.html" . -}}
		<script>
			if (navigator.getEnvironmentIntegrity !== undefined) {
				var weiAlert = document.createElement("section");
				weiAlert.setAttribute("id", "weiAlert");
				var weiAlertTitle = document.createElement('h1');
				weiAlertTitle.innerHTML = 'Your browser contains Google DRM!';
				var weiAlertContent = document.createElement('p');
				weiAlertContent.innerHTML = '"Web Environment Integrity" is a DRM (digital restrictions management) technology from Google that has the potential to prevent ad-blocking and prevent browsers not authorised by Google from accessing parts of the web. In support of an open web, please install a browser that better respects everyone&apos;s freedom, such as <a href="https://www.mozilla.org/firefox/new/">Firefox</a> or <a href="https://librewolf.net/">LibreWolf</a>.';
				weiAlert.appendChild(weiAlertTitle);
				weiAlert.appendChild(weiAlertContent);
				document.body.prepend(weiAlert);
			}
		</script>
	</body>
</html>
