{{ define "main" }}
<h1 class="category-header">
	{{ .Title }}
	{{ with .OutputFormats.Get "rss" -}}
	<a href="{{ .Permalink }}" title="{{ $.Title }} RSS Feed">
		{{ $rssicon := resources.Get "icons/rss.svg" -}}
		<img src="{{ $rssicon.RelPermalink }}">
	</a>
    {{- end }}
</h1>
{{ .Content }}
{{ range .Pages.ByPublishDate.Reverse }}
	{{- partial "list-article.html" . -}}
{{ end }}
{{ end }}
