{{ define "main" }}
<article>
<h1>{{ .Title }}</h1>
{{ if or .Date .Lastmod -}}
<ul class=postmeta>
	{{ if .Date -}}
	<li>
		{{ $calendaricon := resources.Get "icons/calendar.svg" -}}
		<img src="{{ $calendaricon.RelPermalink }}">
		<span>{{ .Date | time.Format "Jan 02, 2006" }}</span>
	</li>
	{{- end }}
	{{ if ne .Date .Lastmod -}}
	<li>edited: {{ .Lastmod | time.Format "Jan 02, 2006" }}</li>
	{{- end }}
	{{ if .Params.artists -}}
	<li>Artists: {{ range $i, $e := .Params.artists }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}</li>
	{{- end }}
</ul>
{{- end }}
{{ .Content }}
</article>
{{ end }}
