body {
	margin: 0;
	width:100%;
	background-color: #{{base00-hex}};
	color: #{{base05-hex}};
	font-family: sans-serif;
}

header {
	width: 100%;
}

header h1 a, header h1 a:visited {
	color: #{{base09-hex}};
	text-decoration: none;
}

header h1 img {
	height: 1em;
	display: inline;
}

.category-header img {
	height: 1em;
	display: inline;
}

nav {
	max-width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1em;
	text-align: center;
}

nav a, nav a:visited {
	background-color: #{{base08-hex}};
	color: #{{base00-hex}};
	text-decoration: none;
	border-radius: 1em;
	padding: 1em;
}

.postmeta {
	display: flex;
	justify-content: center;
	padding: 0;
	gap: 1em;
	list-style-type: none;
	color: #{{base04-hex}};
	text-align: center;
}

.postmeta li img {
	height: 1em;
}

#weiAlert {
	background-color: #{{base08-hex}};
	color: #{{base00-hex}};
	padding: 1em;
}

#weiAlert h1, #weiAlert p {
	max-width: 60em;
	margin: auto;
}

#weiAlert a, #weiAlert a:visited {
	color: #{{base00-hex}}
}

#content {
	margin: auto;
	padding: 0 0.5em;
	max-width:60em;
}

h1 {
	text-align:center;
}

p {
	text-align:left;
}

a {
	color: #{{base0D-hex}};
}

a:visited {
	color: #{{base0E-hex}};
}

code {
	background-color: #{{base01-hex}};
	padding: 0.2em 0.5em;
	font-size: 1em;
	border-radius: 0.6em;
}

pre {
	background-color: #{{base01-hex}};
	border-radius: 1em;
	padding: 1em;
	margin: 2em 0;
	overflow-x: scroll;
}

pre code {
	padding: 0;
	font-size: 1.2em;
}

iframe {
	width: 100%;
	height: 60vh;
}

article p img, article a img, video, iframe {
	max-height:60vh;
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 1em;
}

table {
	border: 0.1em solid;
	border-color: #{{base03-hex}};
	border-collapse: collapse;
}

th, td {
	border: 0.1em solid;
	border-color: #{{base03-hex}};
	padding: 0.6em;
}

.article-list {
	background-color: #{{base01-hex}};
	border-radius: 1em;
	padding: 1em;
	margin: 2em 0;
}

.article-list > a {
	text-decoration: none;
}

.article-list time {
	color: #{{base05-hex}};
}

.article-list h2 {
	text-align:center;
	padding: 0.5em;
	margin: 0;
	color: #{{base05-hex}};
}

.tagslist a {
	color: #{{base05-hex}};
}
