<header>
	<h1>
		<a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
		{{ with .Site.Home.OutputFormats.Get "rss" -}}
		<a href="{{ .Permalink }}" title="RSS Feed">
			{{ $rssicon := resources.Get "icons/rss.svg" -}}
			<img src="{{ $rssicon.RelPermalink }}">
		</a>
		{{- end }}
	</h1>
	{{ partial "nav.html" . }}
</header>
