<head>
	<meta charset="utf-8">
	{{ $title := print .Title " | " .Site.Title -}}
	{{ if .IsHome }}{{ $title = .Site.Title }}{{ end -}}
	<title>{{ $title }}</title>
	<meta name="author" content="{{ .Site.Params.author }}"/>
	<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}"/>
	{{ template "_internal/opengraph.html" . }}
	{{ with .OutputFormats.Get "rss" -}}
	    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ $css := resources.Get "css/style.css" | resources.Fingerprint -}}
	<link rel="stylesheet" type="text/css" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
	<link rel="me" href="https://mastodon.online/@Sandelinos">
</head>
