<article class="article-list">
	<a href="{{ .RelPermalink }}">
		<h2>{{ .Title }}</h2>
		{{ with .Params.images }}
		<img src="{{ index . 0 }}"></img>
		{{ end }}
		<time datetime={{ .Date | time.Format "2006-01-02" }}>{{ .Date | time.Format "Jan 02, 2006" }}</time>
	</a>
	<div class="tagslist">
		{{ range .Params.tags }}
		<a href="/tags/{{ . | urlize }}/">#{{ . }}</a>
		{{ end }}
	</div>
</article>
