{{ $type := "" }}
{{- $src := .Get 0 -}}
{{- if in $src ".mp3" -}}
	{{- $type = "audio/mpeg" -}}
{{- end -}}
{{- if in $src ".ogg" -}}
	{{- $type = "audio/ogg" -}}
{{- end -}}
<audio controls>
	<source src="{{ $src }}" type="{{ $type }}">
	<a href="{{ $src }}">{{ $src }}</a>
</audio>
