{{ $type := "" }}
{{- $src := .Get 0 -}}
{{- if in $src ".webm" -}}
	{{- $type = "video/webm" -}}
{{- end -}}
<video controls>
	<source src="{{ $src }}" type="{{ $type }}">
	<a href="{{ $src }}">{{ $src }}</a>
</video>
